<ul class="nav flex-column navigation-page">
    <li class="nav-item navigation-page__anchor">
        <a class="nav-link" href="#">Featured</a>
    </li>
    <li class="nav-item navigation-page__anchor navigation-page__anchor--active">
        <a class="nav-link" href="#">Trending<small class="navigation-page__count">6</small></a>
    </li>
    <li class="nav-item navigation-page__anchor">
        <a class="nav-link" href="#">Upcoming<small class="navigation-page__count">24</small></a>
    </li>
    <li class="nav-item navigation-page__anchor">
        <a class="nav-link" href="#">Live<small class="navigation-page__count">3</small></a>
    </li>
</ul>